@{
    ViewBag.Title = "编辑提成公告";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => Model)
    <div class="form-submit">
        <button class="btn btn-primary " type="submit">
            <i class="icon-maitonn icon-save"></i>提交</button>
    </div>
}