@{
    ViewBag.Title = "业务系统信息统计分析表";
}
@section styles{
    <link rel="stylesheet" href="http://@(ConfigSetting.AllDomainUrl)/Content/css/bootstrap.min.css" />
    <style type="text/css">
        .container {
            width: 860px;
        }

        .table-label {
            font-weight: bold;
        }

        .tool-btn {
            float: right;
        }

        .page-header {
            width: 860px;
        }

        @@media print {
            .tool-btn {
                display: none;
            }
        }
    </style>
}
<div class="page-header" style="text-align: center">
    <div class="tool-btn">
        <button class="btn btn-primary" type="button" style="margin-right: 10px;" onclick="window.print();"><i class="icon-maitonn icon-print"></i>&nbsp;&nbsp;打印</button>
        <a class="btn btn-primary" href="@Url.Action("download", "manager")"><i class="icon-maitonn icon-save"></i>&nbsp;&nbsp;下载</a>
    </div>
    <h4>@ViewBag.Title</h4>
</div>
<table class="table  table-bordered">
    <tbody>
        <tr>
            <th>姓名</th>
            <th>系统信息量</th>
            <th>信息分类行业比率（百分比）</th>
            <th>无效信息量</th>
            <th>现有有效信息量（30%，不超过50%）</th>
            <th>应有重要潜在客户（30%，规定40个）</th>
            <th>现有即定客户（30%，规定20个）</th>
            <th>现有成单率（10%）</th>
            <th>现有连单率（100%）</th>
            <th>现有续单率（100%）</th>
            <th>各行业已上广告品牌</th>
        </tr>

        <tr>
            <td>丈三</td>
            <td>33</td>
            <td class="table-td">
                <table class="table  table-bordered table-child">
                    <tbody>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>22</td>
            <td class="table-td">
                <table class="table  table-bordered table-child">
                    <tbody>
                        <tr>
                            <td>共有信息<span>9</span>条
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="table-td">
                <table class="table  table-bordered table-child">
                    <tbody>
                        <tr>
                            <td>共有潜在客户<span>9</span>个
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                        <tr>
                            <td>某行业：<span>9</span>条，占总数<span>9</span>%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>33</td>
            <td>33</td>
            <td>33</td>
            <td>22</td>
            <td>11</td>
        </tr>
        <tr>
            <th colspan="2">分析情况</th>
            <td colspan="9">&nbsp;
            </td>
        </tr>
        <tr>
            <th colspan="2">总经理评语</th>
            <td colspan="9">&nbsp;
            </td>
        </tr>
    </tbody>
</table>
