
.form-title {
    background: url(/content/images/h6sub.gif) 23px 27px no-repeat;
    margin: 25px 0 10px 0;
    padding-left: 37px;
    height: 30px;
    font-size: 14px;
    width: 600px;
    font-size: 14px;
    font-weight: bold;
}

    .form-title span {
        color: #999;
        font-weight: normal;
        font-size: 12px;
    }

.form-step {
    background: #eee;
    height: 32px;
    overflow: hidden;
    line-height: 32px;
    position: relative;
    margin: 10px 35px;
}

    .form-step li {
        float: left;
        width: 200px;
        text-align: center;
        position: relative;
        z-index: 2;
        font-size: 12px;
        color: #b7b7b7;
    }

        .form-step li em {
            position: absolute;
            right: -24px;
            top: -8px;
            width: 0;
            height: 0;
            line-height: 0;
            border-width: 24px 0 24px 24px;
            border-color: transparent transparent transparent #fff;
            border-style: dashed dashed dashed solid;
        }

        .form-step li i {
            position: absolute;
            right: -16px;
            top: 0;
            width: 0;
            height: 0;
            line-height: 0;
            border-width: 16px 0 16px 16px;
            border-color: transparent transparent transparent #f0f0f0;
            border-style: dashed dashed dashed solid;
        }

        .form-step li.current {
            background: #f60;
            font-weight: bold;
            color: #fff;
            z-index: 1;
        }

        .form-step li.pass i {
            border-color: transparent transparent transparent #eee;
        }

        .form-step li.current i {
            border-color: transparent transparent transparent #f60;
        }

        .form-step li.end i {
            border-color: transparent transparent transparent transparent;
        }

.form-field {
    padding: 0px 0 10px 80px;
    line-height: 26px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    position: relative;
}

input.single-line {
    border: 1px solid #c6c6c6;
    height: 28px!important;
    line-height: 28px!important;
    padding: 4px!important;
    outline: none!important;
    vertical-align: middle!important;
}

textarea.multi-line {
    border: 1px solid #c6c6c6!important;
    padding: 0 4px!important;
    outline: none!important;
    vertical-align: middle!important;
    width: 205px;
    height: 150px;
}

input.text-box-password {
    width: 132px;
    margin-right: 10px;
}

input.input-validation-error, textarea.input-validation-error {
    border: 1px solid #ff8700;
    background: #FFFCEF;
    color: #333;
}

input.k-vcode {
    width: 52px;
    font: bold 14px Verdana;
    text-align: center;
}

.form-tips {
    line-height: 26px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    position: relative;
    border: 1px solid #FCDFA9;
    padding: 5px 8px;
    background: #fffeee;
}

    .form-tips .icon-maitonn {
        font-size: 16px;
        color: #ff6600;
        margin-right: 10px;
    }

.form-field .k-numerictextbox {
    width: 120px;
}

.field-label {
    float: left;
    width: 80px;
    margin-left: -80px;
    display: block;
    overflow: hidden;
    line-height: 26px;
    font-weight: normal;
}

    .field-label.field-required:after {
        content: "*";
        color: #f60;
        margin-left: 5px;
    }


.form-submit {
    padding: 0px 0 10px 80px;
    line-height: 26px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    position: relative;
}

.field-valid-text {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.form-field-period .k-numerictextbox {
    width: 80px;
}

.form-field-period .k-dropdown {
    width: 80px;
}

.form-field .vcode {
    outline: 0;
    cursor: pointer;
}


    .form-field .vcode img {
        width: 52px;
        height: 28px;
        margin: 0 10px;
        vertical-align: middle;
        display: inline-block;
    }

.form-cascading {
    display: inline-block;
}

.form-textarea textarea {
    width: 205px;
    height: 150px;
}

.form-longtext .single-line {
    width: 360px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/


.field-validation-error {
    left: 290px;
    line-height: 26px;
    padding: 0 10px 0 22px;
    position: absolute;
    top: 0px;
    z-index: 550;
}


.field-prompt-message {
    display: block;
    color: gray;
}

.field-validation-error {
    color: #f00;
    background-color: #fbe3e4;
    border: solid 1px #c13a3f;
    display: block;
    background: url(images/warning_16X16.png) 3px 6px no-repeat;
}


.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

select {
    height: 26px;
    padding: 0px 0px 0px 0px;
    line-height: 26px;
    text-align: left;
    border: 1px solid #D5D5D5;
    display: inline;
    outline: 0;
    margin-right: 5px;
}


.field-hint-message {
    display: block;
    color: gray;
}

.form-container {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
}



.action-info {
    position: fixed;
    right: 10px;
    top: 60px;
    padding: 10px 10px 10px 40px;
    z-index: 9999;
}

    .action-info .icon-maitonn {
        display: block;
        font-size: 18px;
        margin-left: -25px;
        float: left;
    }

.success-info {
    background: #00a300;
    color: #fff;
}

.error-info {
    background: #b91d47;
    color: #fff;
}

.jsmessage {
    display: none;
}

.jserrmessage {
    display: none;
}



.k-window {
    padding-top: 0;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
}

.k-window-titlebar.k-header {
    position: static;
    font-size: 14px;
    line-height: 24px;
    font-family: '宋体';
    font-weight: bold;
    background: #ccc;
    padding: 8px 15px 8px 15px;
    border: none;
    height: auto;
    width: auto;
    margin-top: 0px;
    box-sizing: border-box;
}

.k-window-titlebar .k-window-title {
    position: static;
}

.k-window-content.k-content {
    padding: 15px;
}

.k-window-footer {
    text-align: right;
}

.k-window-checklist {
    padding: 10px;
}

.k-form-checklist {
    width: 400px;
}

.k-checklist {
    overflow-y: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.k-checklist-tool {
    text-align: right;
}

    .k-checklist-tool a {
        color: #2e2e2e;
    }

.k-checklist-title {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0px;
}

.k-checklist-item {
    display: block;
    min-width: 110px;
    float: left;
    margin-right: 20px;
}

    .k-checklist-item label {
        display: inline-block;
        line-height: 30px;
        min-width: 90px;
        font-weight: normal;
    }

    .k-checklist-item input {
        display: inline-block;
        margin-right: 10px;
    }

.k-checklist-group {
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.k-checklist-group-title {
    background: #ccc;
    padding: 5px 10px;
    line-height: 26px;
    position: relative;
}

.k-checklist-group-tool {
    position: absolute;
    right: 10px;
    top: 5px;
}

.k-checklist-group-container {
    overflow: hidden;
    padding: 0 10px;
}

.k-checklist-group-tool a {
    margin-right: 5px;
}



/***UploadImgList***/
.field-uploadimg-list {
    overflow: hidden;
    margin-bottom: 10px;
}

.field-uploadimg-box {
    margin-bottom: 10px;
}

.img-item {
    float: left;
    position: relative;
    margin: 0px 10px 0 0;
    display: none;
}

    .img-item .k-icon {
        display: block;
    }

    .img-item img {
        width: 120px;
        height: 100px;
        padding: 5px;
        border: 1px solid #bbb;
    }

    .img-item .img-item-close {
        position: absolute;
        right: 2px;
        top: 2px;
        height: 16px;
        width: 16px;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    .img-item .img-item-bar {
        position: absolute;
        width: 100%;
        height: 25px;
        background: #000;
        opacity: 0.7;
        bottom: 0;
        left: 0;
        text-align: center;
    }

        .img-item .img-item-bar .img-item-sorter-right {
            display: block;
            position: absolute;
            right: 5px;
            height: 16px;
            width: 16px;
            top: 5px;
            cursor: pointer;
        }


        .img-item .img-item-bar .img-item-sorter-left {
            display: block;
            position: absolute;
            left: 5px;
            height: 16px;
            width: 16px;
            top: 5px;
            cursor: pointer;
        }



.map-container {
    border: 1px solid gray;
    width: 100%;
    height: 98%;
    overflow: hidden;
}

.map-control {
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    z-index: 200;
    opacity: 0.7;
    filter: Alpha(opacity=70)!important;
    background: #050505;
    width: 100%;
    text-align: right;
    padding: 3px 0px;
}

.map-control-content {
    padding-right: 10px;
}

.map-keywords {
    width: 250px;
}

.btn-map-marker {
    height: 31px;
    line-height: 31px;
}

    .btn-map-marker .icon-maitonn {
        font-size: 26px;
        color: rgb(28, 17, 105);
        opacity: 1;
        filter: Alpha(opacity=100)!important;
        text-decoration: none;
    }

