@{
    Layout = null;
}
@using (Ajax.BeginForm("ajaxCreate", "mediarequire", new AjaxOptions()
{
    OnSuccess = "ajaxFormSuccess",
    OnFailure = "ajaxFormFailure"
}, new { formtitle = "添加媒介策略请求" }))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <div class="form-field form-field-submit">
        <button type="submit" class="btn btn-primary btn-submit ">
            <i class="icon-maitonn icon-save"></i>
            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
    </div>
}

