@model Task
<div class="task-item">
    <div class="task-name" title="@(Model.Start.Hour + "点-" + Model.End.Hour + "点")">@Model.Title</div>
    <div class="task-delete"><i class="icon-maitonn icon-remove"></i></div>
</div>
