@{
    ViewBag.Title = "编辑跟单日志";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <div class="form-field form-field-submit">
        <button type="submit" class="btn btn-primary ">
            <i class="icon-maitonn icon-save"></i>
            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
    </div>
}