@{
    var serviceResult = (ServiceResult)TempData["Service_Result"] ?? null;
}

@if (serviceResult != null)
{
    <div class="action-info fade out @if (serviceResult.Success)
                                     {<text> success-info </text> }
                                     else
                                     {<text> error-info </text>}" >


        <i class="icon-maitonn icon-@if (serviceResult.Success)
                                    {<text>ok</text> }
                                    else
                                    {<text>exclamation-sign</text>}"></i>
        <div class="action-text">
            @serviceResult.Message
        </div>
    </div>
}
<div class="action-info  success-info jsmessage ">
    <i class="icon-maitonn icon-ok"></i>
    <div class="action-text">
    </div>
</div>
<div class="action-info  error-info jserrmessage ">
    <i class="icon-maitonn icon-exclamation-sign"></i>
    <div class="action-text">
    </div>
</div>

