@{
    ViewBag.Title = "Designer";
}

<table class="table table-bordered">
    <tr>
        <th colspan="4" class="th-title">户外策略单</th>
    </tr>
    <tr>
        <td class="td-required td-title">预算</td>
        <td></td>
        <td class="td-required td-title">需求广告形式</td>
        <td></td>
    </tr>

    <tr>
        <td class="td-required td-title">需求路线及数量</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class=" td-title">广告的目的</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class=" td-title">针对人群</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="td-required td-title">发布日期</td>
        <td></td>
        <td class="td-required td-title">发布周期</td>
        <td></td>
    </tr>
    <tr>
        <td class="td-required td-title">客户品牌</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class=" td-title">目前是否发布过广告及描述</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class=" td-title">客户的其他要求</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="td-required td-title">要求交付时间</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="td-required td-title">回复确定完成时间</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="td-required td-title">具体交货时间</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="td-required td-title">申请人</td>
        <td></td>
        <td class="td-required td-title">交货人</td>
        <td></td>
    </tr>
</table>
